:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #D3D3D3;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #D3D3D3;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.buttons {
    background-color: #068484;
    color: white;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 40px;
}

.home, .profile-page, .groups-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: #ececec;
}

.home-slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.groups-page-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.groups-page-main, .profile-page-main{
    display: flex;
    margin: 25px;
    flex: 1;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
}

.profile-info-section {
    border: 1px solid;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 60px;
}

.profile-pic {
    display: flex;
    border-radius: 25px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    gap: 20px;
}

.profile-right {
    display: flex;
    margin: 20px;
    padding: 30px;
    text-align: left;
    column-gap: 180px;
}

.profile-right-sections {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-buttons {
    display: flex;
    margin: 20px;
    margin-left: auto;
    margin-top: auto;
    padding: 30px;
    gap: 40px;
    height: 20%;
}

.page-header {
    font-size: 40px;
}

.login, .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    text-align: center;
    min-height: 100vh;
}

.signup-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form, .signup-form {
    border: 1px solid black;
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding: 100px;
    background-color: #ececec;
    margin-bottom: 60px;
    justify-content: center;
    text-align: center;
}

.login-username-input, .login-password-input, .signup-inputs {
    display: flex;
    gap: 20px;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.signup-inputs {
    width: 100%;
    display: flex;
    gap: 10px;
}

.signup-form-top-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.signup-form-second-section, .signup-form-third-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-time-inputs {
    display: flex;
    gap: 10px;
}

.signup-time-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.signup-weight-inputs {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.signup-weight-input {
    display: flex;
    flex-direction: column;
}

.signup-form-row {
    display: flex;
    flex-direction: row;
    gap: 110px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.signup-form-row label, .signup-form-row div, .signup-weight-inputs label {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#study-goals-header {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: #068484;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.empty-navbar {
    display: flex;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: flex-start;
    margin-right: auto;
}

.navbar-left, .empty-navbar-left {
    font-size: 10px;
    font-weight: 500;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-profile-button, .navbar-home-button, .navbar-groups-button {
    background-color: transparent;
}

.file-input {
    display: none;
}

.personality-quiz-form {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.personality-quiz-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.slider {
    margin: 30px;
}

#personality-quiz-button {
    width: 30%;
}

.calendar {
    margin: 100px;
}

.calendar-component {
    min-height: 80vh;
}

.event-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    overflow: auto;
}

.event-popup-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.event-popup-inputs {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

.event-popup-buttons {
    margin-right: 10px;
    margin-top: 10px;
    background-color: #068484;
    color: white;
}

#add-class-button {
    margin-bottom: 10px;
}

.calendar {
    margin-top: 40px;
    margin-bottom: 40px;
}

#submit-availability-button {
    margin-bottom: 100px;
}

#create-group-button {
    margin-bottom: 30px;
}

.new-group-modal {
    display: flex; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    border-radius: 10px;
}

.new-group-modal-content, .new-goals-modal-content {
    background-color: #e8e9eb;
    margin: 5% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    justify-content: center;
    border-radius: 10px;
}

.new-group-modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.new-group-modal-dropdowns {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.new-group-modal-form input, .new-group-modal-form textarea {
    padding: 15px;
}

.modal-header {
    display: flex;
    flex-direction: column;
}

.new-group-modal-submit {
    margin: 20px;
    background-color: #068484;
    color: white;
}

.new-group-modal-close-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.group-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
    flex-direction: column;
}

.group-list-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
}

.group-card, .hover-group-card {
    text-align: center;
    padding: 15px;
    width: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding-bottom: 30px;
    gap: 5px;
}

.recommended-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: 600;
    background-color: #ececec;
}

.group-card-buttons {
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 10px;
}

.hover-group-card:hover {
    transform: scale(1.03) translateY(-2px);
    cursor: pointer;
}

.group-card-title {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.group-card-buttons {
    gap: 20px;
}

.group-card-users {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.group-card-members {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pill-component {
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    padding: 2px;
    margin-bottom: 20px;
}

#pill-component-green {
    background-color: #adebb3;
}

#pill-component-yellow {
    background-color: #ffee8c;
}

#pill-component-red {
    background-color: #ff7f7f;
}

#study-goals-button {
    font-size: 12px;
    margin-top: 10px;
}

.study-goals-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generated-study-goals {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    text-align: left;
}

#rejected {
    background-color: #ececec;
    width: 100vw;
}

.member-card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    min-width: 200px;
}

.member-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.member-card-info-favorite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.tooltip-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tooltip {
    width: 300px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    transition: all 0.3s ease;
    top: -40px;
    opacity: 0;
    background-color: white;
}

.tooltip.open {
    transform: translateY(-30px);
    opacity: 1;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 12px);
}

#info-button {
    border-radius: 50%;
    font-size: 8px;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#go-to-groups-button {
    margin-top: 50px;
}

.calendar-page, .loading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}