:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #D3D3D3;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #D3D3D3;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.buttons {
    background-color: #068484;
    color: white;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.home, .profile-page, .groups-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-main, .groups-page-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    flex: 1;
}

.profile-page-main{
    display: flex;
    margin: 25px;
    flex: 1;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
}

.profile-info-section {
    border: 1px solid;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 60px;
}

.profile-pic {
    display: flex;
    border-radius: 25px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    gap: 20px;
}

.profile-right {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    gap: 20px;
    text-align: left;
}

.profile-buttons {
    display: flex;
    margin: 20px;
    margin-left: auto;
    margin-top: auto;
    padding: 30px;
    gap: 40px;
    height: 20%;
}

.page-header {
    font-size: 40px;
}

.login, .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    text-align: center;
    min-height: 100vh;
}

.signup-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form, .signup-form {
    border: 1px solid black;
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding: 100px;
    background-color: #ececec;
    margin-bottom: 60px;
    justify-content: center;
    text-align: center;
}

.login-username-input, .login-password-input, .signup-inputs {
    display: flex;
    gap: 20px;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.footer {
    display: flex;
    background-color: #068484;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.navbar-left {
    font-size: 10px;
    font-weight: 500;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-profile-button, .navbar-home-button, .navbar-groups-button {
    background-color: transparent;
}

.file-input {
    display: none;
}

.personality-quiz-form {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.personality-quiz-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.slider {
    margin: 30px;
}

#personality-quiz-button {
    width: 30%;
}